<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default{% endblock %} - Project 221</title>
</head>
<body>
    <header>The Header</header>
    {% block render_body %}{% endblock %}
    <footer class="mt-auto py-3 bg-light text-center">
        <div class="container">
            <span class="text-muted">© 2026 Yuviron. </span>
            <a href="{% url 'privacy' %}">Політика конфіденційності</a>
        </div>
    </footer>
</body>
</html>